html {
  font-size: 18px;
  line-height: 1.4;
}

.hero {
  background: url(../images/glasses-bg.png) no-repeat center/cover;
  height: 30rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.hero .container {
  margin-top: 1rem;
  background-color: cadetblue;
  font-family: Helvetica;
  font-size: 1rem;
  color: #fff;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

header {
  background-color: cadetblue;
  height: 2rem;
  margin-top: 1rem;
  border: solid;
}

.logo {
  display: flex;
  align-items: center;
}

.hero .logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.hero .logo span {
  font-family: Helvetica;
  font-size: 1rem;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
}

nav span a {
  color: #fff;
  text-decoration: none;
  padding: 0 2rem;
}

#nav-mobile {
  display: none;
}

.tagline {
  margin-top: 10rem;
  margin-right: 12rem;
}

.tagline h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background: white;
}

.benefits.flex.flex-center {
  margin: 3rem 0;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  height: 8rem;
  width: 5rem;
  padding-right: 6rem;
  justify-content: space-between;
  align-items: center;
}

.benefit-item img {
  width: 3.5rem;
}

.benefit-item span {
  text-align: center;
}

.business-info {
  display: flex;
  justify-content: center;
}

.business-item {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 5%;
}

.business-item h2 {
  background-color: cadetblue;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1rem;
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem;
  color: white;
  margin-bottom: 1rem;
}

footer {
  margin-top: 5rem;
  background-color: azure;
}

footer .logo img {
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

footer .logo span {
  font-family: Helvetica;
  font-size: 1rem;
  color: black;
}

/* Media queries */

@media only screen and (max-width: 1090px) {

  .hero .container {
    margin-top: 0;
  }

  .hero {
    background-position: 20%;
  }

  .container {
    max-width: 100%;
  }

  .tagline {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .tagline h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
  }

}

@media only screen and (max-width: 768px) {
  .hero .logo span {
    display: none;
  }

  .benefit-item {
    padding-right: 3rem;
  }

  .hero {
    height: 22rem;
  }

  .tagline {
    margin-top: 13rem;
  }

}

@media only screen and (max-width: 564px) {

  .hero {
    height: 17rem;
  }

  .tagline {
    margin-top: 9rem;
  }

  nav {
    display: none;
  }

  #nav-mobile {
    display: flex;
  }

}

@media only screen and (max-width: 480px) {

  .tagline {
    margin-top: 9rem;
    display: block;
    width: 100%;
  }

  .tagline h1 {
    font-size: 1rem;
    text-align: center;
    padding: 1rem 0;
  }

  .benefits.flex.flex-center {
    margin: 3.77rem 0;
    flex-direction: column;
    align-items: center;
  }

  .benefit-item {
    padding-right: 0;
  }

  .benefit-item span {
    font-size: 0.77rem;
    font-family: Helvetica;
    padding: 1.54rem;
  }

  .business-info {
    flex-direction: column;
    align-items: center;
  }

  .business-item span {
    padding-bottom: 4rem;
    font-size: 0.77rem;
  }

  .business-item {
    width: 100%;
    margin-right: 0;
  }

  .business-item h2 {
    width: 100%;
    padding: 0.5rem 0;
    text-align: center;
  }

  footer {
    margin-top: 0;
  }

  footer .logo span {
    display: none;
  }

  footer .logo img {
    padding: 4rem;
  }

  footer .logo {
    display: block;
    text-align: center;
  }

}
